# ==========================
# NUnit Projects
# ==========================

# Build results
bin/
obj/


# Visual Studio and VS Code
.vscode/
.vs/
*.code-workspace

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/